:root {
  --text: #f4fff8;
  --background: #000000;
  --primary: #130a1b;
  --secondary: #090c02;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  color: var(--text);
  background: var(--background);
}

#main {
  height: 100%;
}

.text {
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.container {
  margin-top: 62px;
}
